{% extends "main.html" %}
{% block content %}

{% include "category_nav.html" %}

<div class="col-md-10 col-xs-12">
    {% if 'username' in session %}
        <h3 class="action">
        <a href="{{url_for('addItem')}}"> Add item</a>

        </h3>
    {% endif %}
    <h2>Latest items</h2>
    <ul class="nav navmenu-nav">
    {% for item in items%}
        <li><a href="{{url_for('categoryItem',
                                category_name=item[1].name,
                                item_name=item[0].name)}}">
            {{item[0].name}}<i> ({{item[1].name}})</i>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
