{% extends "main.html" %}
{% block title %}Category Items{% endblock %}
{% block content %}

{% include "category_nav.html" %}

<div class="col-md-10 col-xs-12">
    <h2>{{category_name}} items</h2>
    <ul class="nav navmenu-nav items">
    {% for item in items%}
        <li><a href="{{url_for('categoryItem',
                                category_name=category_name,
                                item_name=item.name)}}">
            {{item.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
