{% extends "main.html" %}
{% block content %}

<div class="col-md-12 col-xs-12">
    <h2>{{item.name}}</h2>
    <p>Description: {{item.description}}
    </p>
    {% if 'username' in session %}
        <a href="{{url_for('editItem',
                           category_name=category_name,
                           item_name=item.name)}}">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">
        		</span>Edit
            </button>
        </a>
        <a href="{{url_for('deleteItem',
                           category_name=category_name,
                           item_name=item.name)}}">
            <button class="btn btn-default">
               <span class="glyphicon glyphicon-trash" aria-hidden="true">
            	</span>Delete
            </button>
        </a>
    {% endif %}
</div>

{% endblock %}
