<header class="container">
	<div class="row top-menu">
		<div class="col-xs-6">
			<a href="{{url_for('catalog')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true">
				</span>Home

			</a>
		</div>
		<div class="col-xs-6 text-right">
		{% if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">
				<span class="glyphicon glyphicon-user" aria-hidden="true">
				</span>Login
			</a>
		{% else %}
			<a href="{{url_for('addItem')}}">
				<span class="glyphicon glyphicon-plus" aria-hidden="true">
				</span>Add item
			</a>
			<a href="{{url_for('disconnect')}}">
				<span class="glyphicon glyphicon-off" aria-hidden="true">
				</span>Logout
			</a>
		{% endif %}
		</div>
	</div>
	<div class="row">
		<h1 class="col-xs-12 text-center title">
			Catalog App
		</h1>

	<div class="row flash-row">
		<div class="col-md-12 text-center flash">
		{% with messages = get_flashed_messages() %}
	      {% if messages %}
	        <ul class="flash-list">
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}
		</div>
	</div>
</header>
