{% extends "main.html" %}
{% block title %}Login{% endblock %}
{% block head %}
 {{ super() }}
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
<script src="{{ url_for('static', filename='login.js') }}"></script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}

{% block content %}
<section class="row login-choice">
    <div class="col-xs-12 text-center login-btns">
        <input type="hidden" name="state" value="{{STATE}}">
        <input type="hidden" name="return_url" value="{{return_url}}">

        <h2 class="text-center margin-bottom">Please, login with an existing account:
        </h2>

    <!-- GOOGLE PLUS SIGN IN-->
        <div id="signInButton">
              <span class="g-signin"
                data-scope="openid email"
                data-clientid="101218103424-cpnuh0g2i37c7i0dv571v12fjr0u12kn.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
        </div>
    <!-- END GOOGLE PLUS SIGN IN -->

    <!-- FACEBOOK SIGN IN -->
        <button>
            <fb:login-button scope="public_profile,email"
                             onlogin="sendTokenToServer();">
                <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
            </fb:login-button>
        </button>
    <!--END FACEBOOK SIGN IN -->
    </div>
</section>

<section class="row">
    <div id="result" class="col-xs-12 text-center"></div>
</section>
{% endblock %}
