{% extends "main.html" %}

{% block content %}


<h2></h2>

<form action="" method="post">

    <label class="labels" for="item_name">Title</label>
    <input type="text" name="item_name" value="">

    <label class="labels" for="item_description">Description</label>
    <textarea name="item_description"
              placeholder="Description"
              rows="8"
              cols="80"></textarea>

    <label class="labels" for="category_select">Category</label>
    <select class="cat-select" name="category_select">
      {% for cat in categories%}
      <option value="{{cat.name}}"
              {% if cat.name == category_name %}
                  selected
              {%endif%}>{{cat.name}}</option>
      {% endfor %}
    </select>

    <button id="submit" class="btn btn-default delete" type="submit">
        <span class="glyphicon glyphicon-ok" aria-hidden="true">
        </span>Submit
    </button>
</form>
<a href="{{url_for('catalog')}}">
    <button class="btn btn-default delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true">
        </span>
        Cancel
    </button>
</a>

{% endblock %}
